.img_horz {
    max-height: 552px !important;
    max-width: 828px !important;
    margin: 0 auto;
}

.img_vert {
    max-height: 552px !important;
    max-width: 368px !important;
    margin: 0 auto;
}

#video {
    display: block;
    margin: 0 auto;
}

.btn-outline-black:not([disabled]):not(.disabled).active {
    background-color: #000000 !important;
    color: #ffffff !important;
}