<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.1.2/lumen/bootstrap.min.css" rel="stylesheet" >
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet">
    <link href="../static/cs_projects.css" rel="stylesheet">

    <title>CS Projects | Georgina G</title>
</head>
<body style="background-color: #dbedff">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ url_for("homepage") }}" style="font-size: 20px">Georgina G</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Computer Science<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for("cs_projects") }}">Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/static/resumes/CS_Resume_Final.doc">Resume</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for("dance_info") }}">Experience</a>
                <a class="dropdown-item" href="{{ url_for("dance_gallery") }}">Gallery</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Resume</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("contact") }}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1 style="text-align: center">Computer Science Projects</h1>
    <p class="text-muted proj_heading"><small class="text-muted" style="font-size: 25px">[</small> Personal/Side Projects
                         <small class="text-muted" style="font-size: 25px">]</small></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">To The Beat<br><small class="text-muted proj_type">Web</small></div>
                  <div class="card-body">
                    <p class="card-text">A web application that curates a playlist based on a tempo and adds it to a user's spotify account.</p>
                      <p class="tools">{ Python/Flask, Spotify API (OAuth), Javascript }</p>
                     <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#toTheBeat">Find Out More</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">SF Dispatches<br><small class="text-muted proj_type">Web</small></div>
                  <div class="card-body">
                    <p class="card-text">A web application to represent various statistics, maps, and predictions about San Francisco Dispatch data.</p>
                    <p class="tools">{ Python/Flask, MongoDB, Google Maps API }</p>
                    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#sfDispatch">Find Out More</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">DancerDB<br><small class="text-muted proj_type">Web/DB</small></div>
                  <div class="card-body">
                    <p class="card-text">An IMBD-type web application to represent data about dancers, companies, and performances.</p>
                    <p class="tools">{ Python/Flask, MongoDB, Javascript }</p>
                   <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#dancerDB">Find Out More</a>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-header">Header<br><small class="text-muted proj_type">Something</small></div>
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p class="tools">{ Python/Flask, MongoDB, Javascript }</p>
                    <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#header1">Find Out More</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                 <p class="text-muted proj_heading"><small class="text-muted" style="font-size: 25px">[</small> School Projects
                        <small class="text-muted" style="font-size: 25px">]</small></p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                          <div class="card-header">PintOS<br><small class="text-muted proj_type">Systems</small></div>
                          <div class="card-body">
                            <p class="card-text">Taking a basic Operating System and implementing necessary portions to make efficient.</p>
                            <p class="tools">{ C }</p>
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#pintOS">Find Out More</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                          <div class="card-header">Huffman Encoding<br><small class="text-muted proj_type">Algorithmic</small></div>
                          <div class="card-body">
                            <p class="card-text">A way to compress a file, and then to decompress it, analyzing compression rates to be efficient.</p>
                              <p class="tools">{ Java }</p>
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#huffman">Find Out More</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-muted proj_heading"><small class="text-muted" style="font-size: 25px">[</small> Built at Events
                        <small class="text-muted" style="font-size: 25px">]</small></p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                          <div class="card-header">Waitless<br><small class="text-muted proj_type">Mobile</small></div>
                          <div class="card-body">
                            <p class="card-text">A mobile website to read barcodes at a store and automatically purchase them, deducting funds from your bank account.</p>
                            <p class="tools">{ Javascript, QuaggaJS, Google Maps API }</p>
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#waitless">Find Out More</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-primary mb-3" style="max-width: 20rem;">
                          <div class="card-header">Header<br><small class="text-muted proj_type">Something</small></div>
                          <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <p class="tools">{ Python/Flask, MongoDB, Javascript }</p>
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#header2">Find Out More</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="toTheBeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">To The Beat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="sfDispatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">SF Dispatches</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dancerDB" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">DancerDB</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="header1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pintOS" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">PintOS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="huffman" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Huffman Encoding</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="waitless" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Waitless</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="header2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Header</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary"><i class="fab fa-github"></i>   See The Code</button>
            <button class="btn btn-primary">Visit Site</button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>