<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.1.1/lumen/bootstrap.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Dance Gallery | Georgina G</title>
</head>
<body style="background-color: #dbedff">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ url_for("homepage") }}" style="font-size: 20px">Georgina G</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Computer Science
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for("cs_projects") }}">Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/static/resumes/CS_Resume_Final.doc">Resume</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dance<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for("dance_info") }}">Experience</a>
                <a class="dropdown-item" href="{{ url_for("dance_gallery") }}">Gallery</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Resume</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("contact") }}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1 style="text-align: center">Dance Gallery</h1>
</body>
</html>